# node stuff
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-store

# local env files (optional: keep production env)
.env*
!.env.production

# build output
dist
coverage

# system junk
.DS_Store
Thumbs.db
.vscode
.idea
