@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-active: var(--primary-active);
  --color-primary-hover: var(--primary-hover);
  --color-primary-contrast: var(--primary-contrast);
  --color-primary-focus: var(--primary-focus);
  --color-primary-light: var(--primary-light);

  --color-secondary: var(--secondary);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-contrast: var(--secondary-contrast);
  --color-secondary-focus: var(--secondary-focus);
  --color-secondary-light: var(--secondary-light);

  --color-background: var(--background);
  --color-surface: var(--surface);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);

  --color-on-background: var(--on-background);
  --color-on-surface: var(--on-surface);
  --color-on-primary: var(--on-primary);
  --color-on-secondary: var(--on-secondary);

  --font-brand: var(--font-family);
  --text-base: var(--base-font-size);
  --radius-brand: var(--rounded-corners);
  --dark-mode-enabled: var(--dark-mode);

  --color-muted: var(--muted);
}